:root {
	--hot-pink: hotpink;
	--lime-green: #15a752;
	--orange: rgb(230, 85, 69);
}

.hot-pink {
	color: var(--hot-pink);
}

.lime-green {
	color: var(--lime-green);
}

.orange {
	color: var(--orange);
}

.border-left-dark {
	border: 1px solid #eee;
	border-left: 5px solid #333;
}
.border-left-pink {
	border: 1px solid #eee;
	border-left: 5px solid var(--hot-pink);
}

.border-left-green {
	border: 1px solid #eee;
	border-left: 5px solid var(--lime-green);
}

.border-left-orange {
	border: 1px solid #eee;
	border-left: 5px solid var(--orange);
}
.text-grey {
	color: #bbb;
}

.bg-green {
	background-color: #17b978;
}

.bg-dark-grey {
	background-color: #333;
}

.border-bottom-grey {
	border-bottom: 1px solid #777;
}

img [src*="post"] {
	position: relative;
	display: inline-block;
}

.image-text {
	position: absolute;
	bottom: 0;
}
